:root {
    --ClBlackDa: rgb(0, 0, 0);
    --ClBlackli: rgb(31, 31, 31);
    --ClWhite: rgb(255, 255, 255);
    --ClWhiteTr: rgba(255,255,255,0.75);
    --ClSilverTr: rgba(221,227,255,0.85);
    --ClBlueLi: rgba(174,214,238,1);
    --ClBlueDa: #1C6EA4;
    --ClPurple: rgba(174,190,238,1);
    --ClSilverLi: #90979c;
    --ClRedDa: #df1515;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(https://www.xtrafondos.com/wallpapers/resized/halo-infinite-2020-5912.jpg?s=large);
    background-size: cover;
}

#ContainerMainRecoverPass {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    background: hsla(0, 0%, 0%, 0.765);
}

    #ContainerMainRecoverPass div.ContainerRecoverPass {
        width: 45em;
        height: 25em;
        font-size: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(4, 1fr);
        gap: 1em;
        text-align: center;
        position: relative;
        z-index: 1;
        background: radial-gradient(circle, var(--ClSilverTr) 0%, var(--ClWhiteTr) 100%);
        border-radius: 0.5em;
        box-shadow: 0px 0px 40px 1px var(--ClWhite);
        padding: 2em;
        transition: all 0.5s ease-in-out;
    }

        #ContainerMainRecoverPass div.ContainerRecoverPass.activarModal {
            transform: translateY(0px);
            opacity: 1;
        }

        #ContainerMainRecoverPass div.ContainerRecoverPass.desactivarModal {
            transform: translateY(150px)rotate(180deg);
            opacity: 0;
        }

        #ContainerMainRecoverPass div.ContainerRecoverPass h1 {
            font-size: 2.5em;
            font-weight: 600;
            color: var(--ClBlackDa);
            border-bottom: 2px solid var(--ClSilverLi);
            padding: 0.3em;
        }

        #ContainerMainRecoverPass div.ContainerRecoverPass h3 {
            font-size: 1.3em;
            color: var(--ClBlackLi);
        }
        /****************************************** INPUT EMAIL *****************************************/
        #ContainerMainRecoverPass div.ContainerRecoverPass .ContInputRecoverPass {
            justify-self: center;
            align-self: center;
            width: 70%;
            height: 70%;
            position: relative;
        }

.ContInputRecoverPass input {
    width: 100%;
    padding: 0.666em;
    background: var(--ClSilverTr);
    border-radius: 5px;
    outline: none;
    color: var(--ClBlackLi);
    font-size: 1.5em;
}

.ContInputRecoverPass.valido input {
    border: 1px solid var(--ClBlueDa);
}

.ContInputRecoverPass.invalido input {
    border: 1px solid var(--ClRedDa);
}

.ContInputRecoverPass.invalido::after {
    content: attr(title);
    position: absolute;
    bottom: -2em;
    left: 0.5em;
    z-index: 100;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--ClRedDa)
}

.ContInputRecoverPass span {
    position: absolute;
    left: 0;
    padding: 0.7em;
    pointer-events: none;
    font-size: 1.5em;
    color: var(--ClBlueDa);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.ContInputRecoverPass.valido span {
    color: var(--ClBlueDa);
}

.ContInputRecoverPass input:valid ~ span, .ContInputRecoverPass input:focus ~ span {
    color: var(--ClWhite);
    transform: translateX(0.9em) translateY(-0.3em);
    font-size: 1em;
    padding: 0 10px;
    letter-spacing: 0.25em;
    background-color: var(--ClBlueDa);
}

.ContInputRecoverPass.valido input:valid ~ span, .ContInputRecoverPass.valido input:focus ~ span {
    color: var(--ClWhite);
    background-color: var(--ClBlueDa);
}

.ContInputRecoverPass.invalido input:valid ~ span, .ContInputRecoverPass.invalido input:focus ~ span {
    color: var(--ClWhite);
    background-color: var(--ClRedDa);
}

.ContInputRecoverPass.valido input:focus {
    border: 2px solid var(--ClBlueDa);
}

.ContInputRecoverPass.invalido input:focus {
    border: 2px solid var(--ClRedDa);
}

/******************************************* BOTON DE ENVIAR ****************************************************/

div.ContButtonRecoverPass {
    width: 15em;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: end;
}

    div.ContButtonRecoverPass .ButtonRecoverPass1 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--ClBlueDa);
        color: var(--ClWhiteTr);
        position: relative;
        overflow: hidden;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        transition: .3s ease-in-out all;
        cursor: pointer;
    }

        div.ContButtonRecoverPass .ButtonRecoverPass1 span {
            transition: .4s ease-in-out all;
            position: absolute;
            left: 35%;
        }

        div.ContButtonRecoverPass .ButtonRecoverPass1 .icono {
            position: absolute;
            z-index: 2;
            left: -50px;
            transition: .3s ease-in-out all;
            opacity: 0;
        }

        div.ContButtonRecoverPass .ButtonRecoverPass1 i {
            font-size: 1.5em;
        }

        div.ContButtonRecoverPass .ButtonRecoverPass1:hover .icono {
            left: calc(75%);
            opacity: 1;
        }

        div.ContButtonRecoverPass .ButtonRecoverPass1:hover span {
            left: 10%;
        }

/******************************************* BOTON DE CERRAR ****************************************************/

#ContainerMainRecoverPass div.ContainerRecoverPass .BtnCloseModalRecover {
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    right: -2em;
    top: -2em;
}

#ContainerMainRecoverPass div.ContainerRecoverPass .BtnIntModalRecover {
    width: 100%;
    height: 100%;
    background: var(--ClBlueLi);
    border-radius: 45px;
    border: 4px outset var(--ClBlueDa);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    color: var(--ClBlack);
}

    #ContainerMainRecoverPass div.ContainerRecoverPass .BtnIntModalRecover:hover {
        background: var(--ClPurple);
        border: 4px inset var(--ClSilverLi);
        transition: all 0.5s ease-in-out;
        transform: scale(1.1) rotate(180deg);
    }


/***************************************** RESPONSIVE *****************************************/
@media screen and (max-width:1930px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        font-size: 11px;
    }
}

@media screen and (max-width:1600px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        font-size: 10px;
    }
}

@media screen and (max-width:1440px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        font-size: 9.5px;
    }
}

@media screen and (max-width:1366px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        font-size: 9px;
    }
}

@media screen and (max-width:1024px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        font-size: 8.5px;
    }

    div.ContButtonRecoverPass .ButtonRecoverPass1 span {
        left: 32%;
    }
}

@media screen and (max-width:800px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        font-size: 8px;
    }

    div.ContButtonRecoverPass .ButtonRecoverPass1 span {
        left: 30%;
    }
}

@media screen and (max-width:650px) {
    #ContainerMainRecoverPass div.ContainerRecoverPass {
        width: 90vw;
        height: 35vh;
        font-size: 8px;
    }

        #ContainerMainRecoverPass div.ContainerRecoverPass .ContInputRecoverPass {
            width: 94%;
        }

    div.ContButtonRecoverPass .ButtonRecoverPass1 span {
        left: 30%;
    }

    #ContainerMainRecoverPass div.ContainerRecoverPass .BtnCloseModalRecover {
        width: 4em;
        height: 4em;
        right: 0em;
        top: 0em;
    }
}
