
@{
    ViewBag.Title = "HomeApp";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
@section scripts {
    <script src="~/Scripts/Modulos/HomeApp.js"></script>
}

<link href="~/Content/Modulos/HomeApp.css" rel="stylesheet" />
<div class="ContCardMain">
    <div class="CardContint1">
        <div class="contCardImg" style="background: url(../../Img/BgGPSSearch.jpg); background-size: cover; background-position: center;"></div>
        <div class="contCardTxt">
            <span>Buscar Huecos</span>
        </div>
    </div>
    <div class="CardContint1">
        <div class="contCardImg" style="background: url(../../Img/BgGPSReport.jpg); background-size: cover; background-position: center;"></div>
        <div class="contCardTxt">
            <span>Reportar por GPS</span>
        </div>
    </div>
    <div class="CardContint1">
        <div class="contCardImg" style="background: url(../../Img/BgGPSForm.jpg); background-size: cover; background-position: center;"></div>
        <div class="contCardTxt">
            <span>Reportar por Formulario</span>
        </div>
    </div>
    <div class="CardContint1">
        <div class="contCardImg" style="background: url(../../Img/BgGPSDownload.jpg); background-size: cover; background-position: center;"></div>
        <div class="contCardTxt">
            <span>Descargar Reporte</span>
        </div>
    </div>

</div>