@{
    ViewBag.Title = "Reporte GPS";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<link href="~/Content/Modulos/ReporteGPS.css" rel="stylesheet" />

<div class="ContReportGPSMain">
    <div id="ContReportGPSMap">
        <div class="airbutton">
            <button id="btnGPSRepor1Act">
                <i class="fa-solid fa-location-dot"></i>
            </button>
            <div class="airbuttonInt1">
                <input type="text" placeholder="Buscar dirección" id="btnGPSRepor2Act" required>
                <i class="fa-solid fa-magnifying-glass" id="btnGPSRepor3Act"></i>
            </div>
        </div>
    </div>
    <div class="ContReportGPSForm">
        <h1>Reporte de hueco</h1>
        <div class="FormReportGPSinfo1 fomrElemntInputGPS1">
            <label for="">Direccion registrada</label>
            <input type="text" name="" id="InputDirSearchGPS1" disabled>
        </div>
        <div class="FormReportGPSinfo1 fomrElemntInputGPS1">
            <label for="">Ubicación registrada</label>
            <input type="text" name="" id="InputDirSearchGPS2" disabled>
            <input type="hidden" name="" id="LatDirSearchGPS1" disabled>
            <input type="hidden" name="" id="LngDirSearchGPS2" disabled>
        </div>
        <div class="FormReportGPSinfo3 fomrElemntInputGPS1">
            <label for="">Tipo de hueco</label>
            <select name="" id="InputDirSearchGPS3">
                <option default value="0">Seleccione un tipo</option>
                <option value="1">Hueco en la calle</option>
                <option value="2">Alcantarilla sin tapa</option>
                <option value="3">Hueco en puente</option>
                <option value="4">Losa levantada</option>
            </select>
        </div>
        <div class="FormReportGPSinfo2 fomrElemntInputGPS1">
            <label for="">Descripción del daño</label>
            <textarea name="myTextarea" placeholder="Descripcion del hueco a reportar" rows="10" maxlength="250" id="InputDirSearchGPS4"></textarea>
        </div>

        <div class="FormReportGPSinfo4 fomrElemntInputGPS1" id="ContInputFileIMG">
            <label for="FileImportIMGGPS">Foto del problema</label>
            <input type="file" id="FileImportIMGGPS" accept="image/*">
        </div>
        <div class="DivContGPSReport1">
            <button class="BtnContentReportGPS ContInfoModalBtn1" onClick="GenerarRegistro();">
                <div class="icono">
                    <i class="fa-solid fa-thumbs-up"></i>
                </div>
                <span>Confirmar</span>
            </button>
        </div>

    </div>
</div>

@section scripts {
    <script src="~/Scripts/Modulos/ReporteGPS.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANmQt6fU7PMZFvpAE8ED2omcK4lpP0d28"></script>
}