@{
    ViewBag.Title = "Buscar Huecos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
@section scripts {
    @*<script src="~/Scripts/Modulos/HomeApp.js"></script>*@
}
<link href="~/Content/Modulos/SearchGPS.css" rel="stylesheet" />
<div class="containerConsultMain">
    <div id="mapcontainer">
        <div class="airbutton">
            <button>
                <i class="fa-solid fa-location-dot"></i>
            </button>
            <div class="airbuttonInt1">
                <input type="text" placeholder="Buscar dirección" required>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    <div id="reportcontainer">
        <div class="CardContainerSearch slideInRight">
            <div class="reporttext">

            </div>
            <div class="reportimage">

            </div>
        </div>
        <div class="CardContainerSearch slideInRight">
            <div class="reporttext">

            </div>
            <div class="reportimage">

            </div>
        </div>
        <div class="CardContainerSearch slideInRight">
            <div class="reporttext">

            </div>
            <div class="reportimage">

            </div>
        </div>
        <div class="CardContainerSearch slideInRight">
            <div class="reporttext">

            </div>
            <div class="reportimage">

            </div>
        </div>
        <div class="CardContainerSearch slideInRight">
            <div class="reporttext">

            </div>
            <div class="reportimage">

            </div>
        </div>

    </div>
</div>