
@{
    ViewBag.Title = "Sobre nosotros";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

@section scripts {
    <script src="~/Scripts/Modulos/SobreNosotros.js"></script>
}



<link href="~/Content/Modulos/SobreNosotros.css" rel="stylesheet" />

<div class="ContTextAbount">
    <div class="ContIMGAbount"></div>
    <div class="ContTxtAbount">
        El uso de este producto está fundamentado en el <b>Open source</b>, para el beneficio de la comunidad y personalización; su uso es condicionado al uso personal o con fines de investigación, por lo que no se permite la comercialización de la información generada por la aplicación sin previa autorización, el uso de la información registrada por parte de los usuarios será tratada bajo una estricta confidencialidad y tratada bajo las leyes de protección de datos vigentes en Colombia.
        El diseño, estructuración y desarrollo de este proyecto es propiedad intelectual de:<br><br>
        Eliana Marcela Parra Santa<br>
        Jhon Fabio Quinonez Arboleda<br>
        Johan Nicolas Lozano Guerrero<br>
        Contacto: soportegeoreportapp@gmail.com
        <br><br>
        <b>todos los derechos reservados © 2022</b>
    </div>
</div>